.text p {clear:both;}

hr {
	border:0;
	clear:both;
}

h1 {
	margin: 0px 0px 0px 0px;
	line-height: 70px;
}

h2 a {
	color:#1e1e1e;
}

h3 {
	margin: 0px 0px 5px 0px;
}

body.page-template .text {
	padding:0px 19px 0 0;
}

body.page-template-template-blog-php .text {
	padding:23px 19px 0 0;
}

img.alignleft {
	float:left;
	margin:2px 12px 20px 0px;
}

img.alignright {
	float:right;
	margin:2px 0 20px 12px;
}

#main {
	padding: 19px 0 31px;
}

#sidebar {
	padding:70px 0px 0px 0px;
}

.home #sidebar {
	padding:25px 0px 0px 0px;
}

.nav {
	height:36px;	
}

.child-nav {
clear:both;
font-size:12px;
font-weight:bold;
list-style:none outside none;
margin:0 0 0 110px;
overflow:hidden;
padding:8px 0 0 27px;
width:763px;
}

.child-nav li {
	float:left;
	padding:0 0 0 35px;
}

* html .child-nav{ clear:none;}
*+html .child-nav{ clear:none;}
.child-nav li{
	float:left;
	padding:0 0 0 35px;
}

.child-nav a{ color:#676767;}
.child-nav a:hover,
.child-nav .active a{ 
	color:#1e1e1e;
	text-decoration:none;
}

.nav .current_page_item a{ 
	color:#1e1e1e;
	text-decoration:none;
}

#footer li {
	padding:0 0 5px 10px;
}

#footer ul {
	padding:0 0 0 0;
}

.widget_archive ul {
list-style:none outside none;
margin:-11px 0 0;
overflow:hidden;
padding:0 0 0 16px;
width:240px;
}


.widget_archive li {
float:left;
padding:0 10px 3px 0;
width:97px;
}

.widget_archive a {
color:#222222;
}

.startboxes {
	margin: 40px 0px 0px 40px;
	margin-left:40px !important;
}

.startboxes .box {
	background:url("../images/bg-start-box-t.png") no-repeat scroll 0 0 transparent;
	color:#555555;
	line-height:16px;
	margin:0px 15px 30px 0px;
	padding:11px 0 0;
	width:285px;
	float:left;
}

.startboxes .last {
	margin:0px 0px 30px 0px;
}

.startboxes .frame {
	background:none repeat scroll 0 0 #F7F7F7;
	border-color:#E6E6E6;
	border-style:solid;
	border-width:0 1px;
	overflow:hidden;
	padding:12px 19px 8px;
	width:245px;
}

.startboxes h3 {
	color:#222222;
	font-size:14px;
	margin:0 0 13px;
}

.startboxes .box p {
	margin:0 0 16px;
}

.startboxes .box .b {
	background:url("../images/bg-start-box-b.png") no-repeat scroll 0 0 transparent;
	font-size:1px;
	height:11px;
	width:285px;
}

.more {
	background:url(../images/las_mer.png) no-repeat scroll 0 0 transparent;
}

.send {
	background:url(../images/knapp_skicka.png) no-repeat scroll 0 0 transparent;
}

.segment {
	position:relative;
	float:left;
	width:255px;
	margin:0px 0px 20px 30px;
}

.segment_first {
	margin:0px 0px 20px 0px;
}

.segment_button {
	position:absolute;
	top:115px;
	left:170px;
}

.press_item {
	float:left;
	margin:0px 0px 40px 0px;
}

.press_item .image {
	float:left;width:100px;margin:0px 10px 0px 0px;
}

.press_item .content p {
	margin:0 0 7px;
	clear:none;
}

a {
	color:#ef3e42;
}

.textwidget ul {
	padding-left:0px;
}

.textwidget li {
	background-image: url(../images/star_grey.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 20px;
	margin-bottom:10px;
	list-style: none;
}



