html {
  min-width: 100%;
  background: #191919;
}
body {
  margin: 0;
  min-width: 1110px;
  background: url(../images/kaffeknappen_bg.jpg) fixed no-repeat #e6e6e6;
  background-size: 100%;
  color: #1e1e1e;
  font: 12px Arial, Verdana, Helvetica, sans-serif;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
}
.om-bilden {
  position: relative;
  top: 200px;
  left: -44px;
  height: 0;
}
.container {
  min-width: 100%;
  min-height: 100%;
}
a {
  color: #1e1e1e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}
#wrapper {
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  width: 1110px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
}
#header {
  position: relative;
  margin: 0;
  padding: 11px 70px 0 70px;
  height: 95px;
  border-bottom: 1px solid #bdbdbd;
  background: #f6f6f6;
  z-index: 999;
}
.logo {
  position: absolute;
  top: 15px;
  left: 110px;
  z-index: 5;
}
.logo img {
  width: 82px;
  height: 82px;
}
.sub-nav {
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0 12px 0 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
}
.sub-nav li {
  float: left;
  padding: 0 0 0 13px;
}
.sub-nav a {
  color: #676767;
}
.sub-nav a:hover,
.sub-nav .active a {
  color: #202020;
  text-decoration: none;
}
.nav {
  clear: both;
  overflow: hidden;
  margin: 0 0 0 110px;
  padding: 16px 0 0 27px;
  width: 763px;
  height: 66px;
  background: url(../images/bg-nav.gif) no-repeat;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
}
* html .nav {
  clear: none;
}
* + html .nav {
  clear: none;
}
.nav li {
  float: left;
  padding: 0 0 0 35px;
}
.nav a {
  color: #676767;
}
.nav a:hover,
.nav .active a {
  color: #1e1e1e;
  text-decoration: none;
}
.mobile-nav {
  display: none;
  position: absolute;
  top: 105px;
  left: 0;
  width: 100%;
  border-top: 1px solid #999;
}
.mobile-nav ul {
  padding: 0;
  margin: 0;
  background: #fff;
  list-style: none;
}
.mobile-nav ul > li > a {
  display: block;
  padding: 10px 15px;
  color: #333;
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  background: #e9e9e9;
}
.mobile-nav ul .sub-menu {
  display: none;
}
.mobile-nav ul .sub-menu > li > a {
  padding-left: 30px;
  background: #fff;
}
.mobile-nav .current-menu-item > a,
.mobile-nav .current-menu-parent > a {
  font-weight: bold;
}
#menu-mobile-nav > .current-page-ancestor > a {
  font-weight: bold;
}
.mobile-nav a {
  font-size: 12px !important;
}
#content {
  margin-left: 0;
  min-height: 600px;
}
#visual {
  position: relative;
  margin: 0 0 0 60px;
  padding: 18px 0 15px;
  background: #ffffff url(../images/bg-visual.gif) no-repeat;
  color: #555;
  font-size: 13px;
  line-height: 18px;
}
.title-horna {
  margin: 0 0 0 140px;
  width: 217px;
}
#visual p {
  margin: 0 25px 0 140px;
}
.pic {
  position: absolute;
  bottom: 0;
  left: 3px;
}
.area {
  overflow: hidden;
}
.area img,
.text img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.area p {
  margin: 0 0 10px;
  line-height: 20px;
}
.area .box {
  float: left;
  margin: 0 0 0 2px;
  padding: 26px 0 18px;
  width: 50px;
  background: #8a8a8a url(../images/bg-box.gif) no-repeat 0 100%;
  color: #fff;
  text-align: center;
  font-size: 11px;
  line-height: 20px;
}
.area .box strong {
  display: block;
}
.text {
  float: left;
  padding-left: 20px;
  max-width: 520px;
  line-height: 20px;
}
.text h2 {
  margin: 0 0 7px;
  color: #222;
  font-size: 14px;
}
.text blockquote {
  margin: 10px 0 35px 37px;
  font-style: italic;
  font-size: 14px;
}
.text blockquote q:after {
  content: "";
}
.text blockquote q:before {
  content: "";
}
.text blockquote cite {
  display: block;
  text-align: right;
  font-style: normal;
  font-size: 12px;
}
.text .img {
  display: block;
  margin: 0 0 22px;
}
.text p {
  margin: 0 0 20px;
}
.text a,
.text p {
  font-size: 12px;
  line-height: 20px;
}
.blog-text h2 {
  font-size: 30px;
  line-height: 35px;
}
.omega .text p {
  margin: 0 0 13px;
}
.omega .text h2 {
  margin: 0;
}
#main {
  overflow: hidden;
  padding: 49px 0 0;
}
#fadeSlider {
  margin-top: 0px !important;
}
.slider {
  margin: 0 !important;
}
#fadeSlider a {
  width: 100% !important;
}

#sidebar {
  display: inline;
  float: right;
  margin: 0 5px 0 0;
  width: 312px;
}

#sidebar .frame {
  overflow: hidden;
  padding: 10px 20px;
  margin-top: 20px;
  width: 271px;
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFF;
}
#sidebar .frame img {
  width: 80px;
  height: 80px;
}
#sidebar h3 {
  margin: 0 0 13px;
  color: #FFF;
  font-size: 14px;
}
#sidebar .frame p {
  color: #FFF;
  margin-bottom: 15px;
}
.month-list {
  overflow: hidden;
  margin: -11px 0 0;
  padding: 0 0 0 16px;
  width: 240px;
  list-style: none;
}
.month-list li {
  float: left;
  padding: 0 10px 3px 0;
  width: 97px;
}
.month-list a {
  color: #222;
}
.links-list {
  overflow: hidden;
  margin: -2px 0 0;
  padding: 0 0 5px;
  width: 100%;
  list-style: none;
  font-weight: bold;
  font-size: 12px;
}
.links-list li {
  float: left;
  padding: 0 4px 5px 0;
}
.links-list a {
  float: left;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #8a8a8a;
  color: #fff;
  cursor: pointer;
}
.links-list a:hover span {
  text-decoration: underline;
}
#sidebar .box p {
  margin: 0 0 16px;
}
.more {
  margin-bottom: 0;
  padding: 7px 10px;
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #EE3A43;
  color: #F2F2F2;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.more:hover {
  text-decoration: none;
}
.right {
  float: right;
  margin: 50px 0px 5px 0;
}
#footer {
  overflow: hidden;
  padding: 50px 0 30px;
  background: #191919;
}
#footer .box {
  float: left;
  margin-left: 40px;
  width: 200px;
}
#footer .box-first {
  float: left;
  margin-left: 10px;
  width: 200px;
}
#footer h3 {
  margin: 0 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
  color: #999;
  font-size: 12px;
}
#footer ul {
  overflow: hidden;
  margin: 0;
  padding: 0 0 0 5px;
  width: 131px;
  list-style: none;
  font-size: 11px;
}
#footer li {
  float: left;
  padding: 0 0 5px 0;
  width: 119px;
}
#footer li a {
  color: #999;
}
#footer .holder {
  margin: 0;
  color: #8a8a8a;
  font-size: 12px;
}
#footer p {
  margin: 0;
}
/*
	Font
*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'BickhamScriptPro-Regular';
  src: url('../font/BickhamScriptPro-Regular.eot');
  src: url('../font/BickhamScriptPro-Regular.eot?#iefix') format('embedded-opentype'), url('../font/BickhamScriptPro-Regular.woff') format('woff'), url('../font/BickhamScriptPro-Regular.ttf') format('opentype'), url('../font/BickhamScriptPro-Regular.svg#BickhamScriptPro-Regular') format('svg');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'NeueLight';
  src: url('../font/neue-light-webfont.eot');
  src: url('../font/neue-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/neue-light-webfont.woff') format('woff'), url('../font/neue-light-webfont.ttf') format('truetype'), url('../font/neue-light-webfont.svg#HelveticaNeueLTStd-Lt') format('svg');
}
.t-script {
  color: #222;
  font-weight: normal;
  font-style: normal;
  font-family: 'BickhamScriptPro-Regular';
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.t-large {
  font-size: 48px;
  line-height: 50px;
}
.title-script {
  color: #222;
  font-weight: normal;
  font-style: normal;
  font-size: 49px;
  font-family: Arial, Verdana !important;
  line-height: 50px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.title-script span {
  margin-right: 5px;
  font-size: 18px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
.t-red {
  color: #FF0000;
}
.b-left-dotted {
  border-left: 1px dotted #999;
}
.t-inline {
  display: inline-block;
  margin-right: 5px;
}
.mb-xlarge {
  margin-bottom: 60px !important;
}
.m-medium {
  margin-top: 20px !important;
}
.m-large {
  margin-top: 30px !important;
}
.bw-img {
  filter: url(desaturate.svg#greyscale);
  filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.text h1 {
  margin-bottom: 10px;
  color: #222;
  font-weight: normal;
  font-style: normal;
  font-size: 44px;
  /*font-family: 'BickhamScriptPro-Regular';*/
  line-height: 52px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.text h1 > a {
  color: #222;
}
.blog-title h1 {
  margin-top: 0;
  color: #222;
  font-weight: bold;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 35px;
}
