body { width:expression(document.documentElement.clientWidth  < 1002 ? "1002" : "auto"); }
.pic{	
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = "images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
#sidebar .box {
	background: url(../images/transparent.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-box-t.png', sizingmethod='crop');
}
#sidebar .box .b {
	background:url(../images/transparent.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-box-b.png', sizingmethod='crop');
}
