@font-face {
	font-family: 'Raparperitaivas';
	src: url('../font/Raparperitaivas.eot');
	src: url('../font/Raparperitaivas.eot?#iefix') format('embedded-opentype'),
		 url('../font/Raparperitaivas.woff') format('woff'),
		 url('../font/Raparperitaivas.ttf') format('opentype'),
		 url('../font/Raparperitaivas.svg#Raparperitaivas') format('svg');
	font-weight: normal;
	font-style: normal;
}

.text p {clear:both;}

hr {
	clear:both;
	border:0;
}

h1 {
	margin: 0px 0px 0px 0px;
	line-height: 70px;
}

h2 a {
	color:#1e1e1e;
}

h3 {
	margin: 0px 0px 5px 0px;
}


body.page-template .text {
	padding:0 0 0 20px;
}

body.page-template-template-blog-php .text {
	float: left;
	padding-left: 10px;
	width: 490px;
}

body.page-template-template-blog-php .text img {
	max-width: 500px;
	height: auto;
}

.more-entries, .fr {
	float: right;
}

.fr a {
	margin-right: 60px;
}

img.alignleft {
	float:left;
	margin:2px 12px 20px 0px;
}

img.alignright {
	float:right;
	margin:2px 0 20px 12px;
}

#main {
	min-height: 600px;
	padding: 20px 0 40px;
}
#fadeSlider img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#sidebar {
	padding:0px 0px 0px 0px;
}
.
.home #sidebar {
	padding:25px 0px 0px 0px;
}
.start-text {
	height: 250px;
}

.start-content{
	margin-left: 0;
}
.contact-sidebar {
	display: inline;
  	float: left;
  	margin: 0 0 20px 10px;
	width: 260px;
	height: 300px;
	padding: 10px 15px;
	background: url('../images/contact-form-bg.png') no-repeat center center #333;
	background-size: cover;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
	.contact-sidebar h2 {
		margin: 0 0 10px 0;
		font-size: 24px;
		line-height: 30px;
		color: #fff;
		font-family: 'Raparperitaivas', 'helvetica', arial, sans-serif;
		text-transform: uppercase;
		font-weight: 100;
		font-smoothing: antialiased;
  		-webkit-font-smoothing: antialiased;
	}
	.contact-sidebar h2 span {
		display: block;
		font-size: 15px;
		line-height: 18px;
	}
	.contact-sidebar p {
		margin: 10px 0;
		color: #ddd;
	}
	.contact-sidebar img {
		float: right;
  		margin: 0 10px 0 0;
	}
	.contact-sidebar label {
		display: inline-block;
		margin-right: 10px;
		color: #ddd;
	}
	.contact-sidebar input {
		display: inline-block;
		margin: 0 0 10px 0;
		color: #ddd;
	}
	.contact-sidebar .text-fields input {
		height: 18px;
		width: 160px;
		border: 0;
		padding: 3px 10px;
		background: #ddd;
		color: #333;
	}
	.contact-sidebar .radio-group input {
		margin: 10px 0 0 0;
	}
	.contact-sidebar .radio-group {
		margin-bottom: 15px;
	}
	.contact-sidebar .text-fields input[type=submit]{
		float: right;
		width: 70px;
		height: 32px;
		background-color: #000;
		color: #fff;
		margin-top: -40px;
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
	}
	.contact-sidebar .sent .text-fields,
	.contact-sidebar .sent .radio-group {
		display: none;
	}
	.contact-sidebar .wpcf7-response-output {
		margin-top: 20px;
  		color: #fff;
  		font-weight: bold;
	}
	.cotact-sidebar .wpcf7-not-valid-tip-no-ajax {
		float: right;
		width: 70px;
		color: #fff;
	}

.barista-sidebar {
	display: inline;
	float: left;
	overflow: hidden;
	margin-left: 10px;
	width: 260px;
	padding: 15px;
	height: 455px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #333;
	background: rgba(00, 00, 00, 0.80);
}
	.barista-sidebar .barista-logo img {
		width: 100%;
	}
	.barista-sidebar .archive-link {
		margin-top: 10px;
		float: left;
		color: #ccc;
	}
	.barista-sidebar .archive-link span {
		font-size: 10px;
	}
	.barista-article {
		padding: 10px 0;
		border-bottom: 1px dotted #999;
		color: #FFF;
		font-size: 12px;
	}

	.barista-article h3 {
		font-size: 14px;
	}

	.barista-article p {
		margin: 2px 0;
		line-height: 18px;
	}

	.barista-article span {
		display: block;
		margin: 5px 0 0;
		color: #676767;
		line-height: 14px;
	}

	.barista-article .read-more {
		color: #EE3A43;
	}

.barista-team-sidebar,
.barista-monthly-sidebar {
	display: inline;
  	float: left;
  	margin: 0 0 20px 0;
	width: 281px;
	padding: 10px 15px;
	background: url('../images/contact-form-bg.png') no-repeat center center #333;
	background-size: cover;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
	.barista-team-sidebar h2,
	.barista-monthly-sidebar h2 {
		margin: 0 0 10px 0;
		font-size: 28px;
		line-height: 32px;
		color: #fff;
		font-family: 'Raparperitaivas', 'helvetica', arial, sans-serif;
		text-transform: uppercase;
		font-weight: 100;
		font-smoothing: antialiased;
  		-webkit-font-smoothing: antialiased;
	}
	.barista-team-sidebar .speciality-coffee {
		float: right;
	}
	.barista-team-sidebar img,
	.barista-monthly-sidebar img {
		max-width: 100%;
	}
	.barista-monthly-sidebar p,
	.barista-team-sidebar p {
		line-height: 20px;
		color: #fff;
	}
	.barista-monthly-sidebar a,
	.barista-team-sidebar a {
		color: #fff;
		font-weight: bolder;
	}

.barista-monthly-sidebar {
	background: #333;
}

.barista-date {
	float: left;
	padding-top: 15px;
	width: 55px;
	height: 95px;
	background: transparent url(../images/barista-date.png) no-repeat center 5px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	line-height: 20px;
}
	.barista-date strong {
	  display: block;
	}

.box-bottom {
	width:300px;
	height:11px;
	background:url("../images/bg-dark-box-b.png") no-repeat scroll 0 0 transparent;
	font-size:1px;
	opacity: 0.85;
}
.box-top {
	width:300px;
	height:11px;
	background:url("../images/bg-dark-box-t.png") no-repeat scroll 0 0 transparent;
	font-size:1px;
	opacity: 0.85;
}
.nav {
	height:36px;
}

.child-nav {
clear:both;
overflow:hidden;
margin:0 0 0 110px;
padding:8px 0 0 27px;
width:763px;
list-style:none outside none;
font-weight:bold;
font-size:12px;
}

.child-nav li {
	float:left;
	padding:0 0 0 35px;
}

* html .child-nav{ clear:none;}
*+html .child-nav{ clear:none;}
.child-nav li{
	float:left;
	padding:0 0 0 20px;
}

.child-nav a{ color:#676767;}
.child-nav a:hover,
.child-nav .active a{
	color:#1e1e1e;
	text-decoration:none;
}

.nav .current_page_item a{
	color:#1e1e1e;
	text-decoration:none;
}

#footer li {
	padding:0 0 5px 0;
}

#footer ul {
	padding:0 0 0 0;
}

.widget_archive ul {
	overflow:hidden;
	margin:-8px 0 0;
	padding:0 0 0 0;
	width:240px;
	list-style:none outside none;
}


.widget_archive li {
	float:left;
	padding:0 10px 3px 0;
	width:110px;
	color: #999;
}

.widget_archive a {
	color: #E4E4E4;
}
.start-text {
	background: none;
	padding: 20px 0 35px;
	margin: 0;
}
.start-text > p {
	margin: 15px 0 0;
	line-height: 20px;
}
.startboxes {
	margin: 0;
}

.startboxes .box {
	float:left;
	margin:0px 20px 0px 0px;
	padding: 20px 0 0;
	width:300px;
	color:#555555;
	line-height:16px;
}

.startboxes .last {
	margin: 0px;
}

.startboxes .frame {
	overflow:hidden;
	padding:20px 15px;
	width: 270px;
	height: 135px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #333;
	background: rgba(00, 00, 00, 0.80);
	color: #E4E4E4;
}

.startboxes.large .frame {
	height: 250px
}

.startboxes.large .frame h3 {
	height: 32px;
}

.startboxes.large .frame img {
	width: 100%;
	height: auto;
}

.startboxes.large .frame p {
	min-height: 48px;
}

.starboxes.large .frame {
	height: 300px;
}
.startboxes h3 {
	margin:0 0 13px;
	color:#FFF;
	text-transform: uppercase;
	font-size:14px;
}

.startboxes .social-icons img {
	margin-left: 12px;
}

.startboxes .social-icons .first {
	margin-left: 0;
}

.more {
	width:80px;

}

.send {

}

.segment {
	position: relative;
	float: left;
	margin: 0px 0px 10px 0px;
	width: 260px;
}

.segment_first {
	margin:0px 0px 20px 0px;
}

.segment_button {
	position:absolute;
	top:115px;
	left:170px;
}

.press_item {
	float:left;
	margin:0px 0px 40px 0px;
}

.press_item .image {
	float:left;margin:0px 10px 0px 0px;width:100px;
}

.press_item .content p {
	clear:none;
	margin:0 0 7px;
}

a {
	color:#ef3e42;
}

.textwidget ul {
	padding-left:0px;
}

.textwidget li {
	margin-bottom:10px;
	padding-left: 20px;
	background-image: url(../images/star_grey.png);
	background-position: 0px 1px;
	background-repeat: no-repeat;
	list-style: none;
}
.product-content {
	max-width: 780px;
	display: inline-block;
}
.product-list {
	padding-right: 5px;
	width: 270px;
}
.product-list .product {
	float: left;
	margin: 0 0 10px 15px;
	max-width: 120px;
}

.product-list .product img {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

	.product-list .product p {
		margin: 5px 0 0;
		min-height: 35px;
	}

	.product-list .product a {
		color: #000;
		text-decoration: none;
	}

.product-page {
	padding-left: 15px;
	min-height: 500px;
	max-width: 490px;
}
.product-text {
	padding-left: 15px;
	min-height: 300px;
	max-width: 760px;
}

.product-page img, .product-text img {
	max-width: 490px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
	.product-page p, .product-text p {
		margin: 0 0 10px;
		line-height: 18px;
	}
	.product-page h1 {
		margin: 0 0 10px;
		color: #222;
		font-weight: normal;
		font-style: normal;
		font-size: 60px;
		font-family: 'BickhamScriptPro-Regular';
		line-height: 65px;
		font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
	}

	.product-text h1 {
		margin: 15px 0;
		color: #222;
		font-weight: normal;
		font-style: normal;
		font-size: 22px;
		font-family: 'NeueLight', helvetica, arial;
		line-height: 22px;
	}

	.product-text .title-script {
		margin: 10px 0;
		color: #222;
		font-weight: normal;
		font-style: normal;
		font-size: 56px;
		font-family: 'BickhamScriptPro-Regular';
		line-height: 50px;
		font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
	}

	.product-page h2, .product-text h2 {
		margin-bottom: 0 0 10px;
	}

	.product-text h4 {
		margin: 0 0 10px;
	}

	.product-info {
		margin-left: 15px;
		max-width: 775px;
		min-height: 400px;
		color: #E4E4E4;
	}

	.product-image {
		float: left;
		padding-right: 15px;
		border-right: 1px dotted #999;
	}

	.product-image img {
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-bottom-right-radius: 10px;
		border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-bottom-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.product-details {
		float: left;
		margin-left: 15px;
		padding: 10px 15px;
		max-width: 210px;
		height: 380px;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-bottom-right-radius: 10px;
		border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-bottom-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background: #333;
		background: rgba(00, 00, 00, 0.80);
	}
		.product-details .product-spec {
			overflow: hidden;
			padding-bottom: 3px;
			height: 330px;
		}

		.product-details p {
			margin:0;
		}

		.product-details .pdf-box {
			min-width: 210px;
			min-height: 50px;
			border-top: 1px dotted #999;
		}
		.product-details span {
			float: right;
			margin-top: 8px;
		}

		.product-details a {
			color: #E4E4E4;
			text-decoration: none;
		}

		.product-details ul {
			margin: 5px 0 0;
			padding: 0;
		}
		.product-details li {
			margin-bottom:10px;
			padding: 1px 0 0 20px;
			background-image: url(../images/star_grey.png);
			background-position: 0px 2px;
			background-repeat: no-repeat;
			list-style: none;
			line-height: 16px;
		}

.product-container {
	margin-left: 10px;
	width: 1110px;
}
.product-btn {
	text-align: center
}
.product-btn {
	display: none;
}
.product-btn a {
	display: inline-block;
	margin: 20px 10px 0 0;
	padding: 0 15px;
	background: #333;
  	background: rgba(00, 00, 00, 0.80);
  	border-radius: 5px;
  	color: #fff;
  	line-height: 50px;
  	font-size: 14px;
  	text-decoration: none;
}
.product-btn img {
	margin: 7px 0 0 5px;
  	float: right;
}
