/*-------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
/*-------------------------------------------------------------------------------------------*/
@media (max-width: 1330px) {
  .background-slider {
    display: none;
  }
}
@media (max-width: 1110px) {
  body {
    min-width: 100%;
  }
  #wrapper {
    width: 100%;
    margin: 0 auto;
  }
  #main {
    width: 100%;
  }
  .container_12 .grid_12 {
    width: 100%;
    margin: 0 auto;
  }
  .container_12 .grid_8 {
    width: 68%;
    margin: 0 0 0 2%;
  }
  #start-content {
    width: 100%;
  }
  .startboxes {
    width: 100% !important;
    margin: 0 0 0 -2% !important;
  }
  .sidebar {
    width: 29%;
    margin-right: 1%;
    float: right;
    display: inline;
  }
  .startboxes .box {
    margin: 0px 2% 0px 0px;
    width: 48%;
  }
  .startboxes .last {
    margin: 0px !important;
  }
  .startboxes .frame {
    max-width: 100%;
    width: auto;
  }
  .contact-sidebar {
    margin-left: 0;
    padding: 10px 10px !important;
  }
  .barista-sidebar {
    margin-left: 0;
    padding: 15px 10px !important;
  }
  .slider {
    width: 98% !important;
  }
  .hide-lg {
    display: none;
  }
  .b-left-dotted {
    border: none;
  }
  .area {
    width: 96% !important;
    margin: 0 2%;
  }
  .text {
    width: 96%;
    max-width: 96%;
  }
  .text p {
    float: left;
    width: 100%;
  }
}
@media (max-width: 991px) {
  #sidebar {
    display: none;
  }
}

@media (max-width: 978px) {
  #main {
    min-height: 100%;
    padding-top: 30px; 
  }
  .container_12 .grid_8 {
    width: 98%;
    margin: 0 0 0 2%;
  }
  .sidebar {
    width: 98%;
    margin: 0 0 0 2%;
  }
  #fadeSlider {
    height: 425px !important;
    max-height: 100% !important;
  }
  #fadeSlider a {
    height: 100% !important;
    max-height: 100%;
  }
  #fadeSlider img {
    height: auto;
    max-height: 100%;
  }
  .startboxes {
    width: 100%;
    margin: 0;
  }
  .startboxes .box {
    margin: 0px 2% 0px 0px;
    width: 48%;
  }
  .startboxes.large .frame {
    height: 330px !important;
  }
  .contact-sidebar, 
  .barista-sidebar {
    margin-top: 20px;
    width: 44%;
    padding: 2% !important;
    height: auto;
  }
  .contact-sidebar {
    margin-right: 2%;
  }
  #header {
    margin-top: -10px;
    padding: 0 0 10px 0;
    margin-bottom: 250px;
    background-color: #e9e9e9;
  }
  .mobile-nav {
    display: block;
  }
  .main-nav .nav,
  .main-nav .child-nav {
    display: none;
  }
  .main-nav .logo {
    position: relative;
    left: 10px;
    display: block;
  }
  .contact-sidebar .text-fields input {
    width: 60%;
  }
  #footer {
    padding: 20px 0;
  }
  #footer .box-first,
  #footer .box {
    width: 100%;
    margin: 10px 0 0 10px;
  }
}
@media( max-width: 820px ) {
  .product-content {
    width: 100%;
    max-width: 100%;
  }
  .product-info {
    width: 100%;
    max-width: 100%;
  }
  .product-list {
    width: 96%;
  }
  .product-list .product {
    max-width: 29%;
    width: 22%;
  }
  .product-list .product img {
    width: 100%;
    height: auto;
  }
  .startboxes.large .frame {
    height: 300px !important;
  }
  .hide-md {
    display: none;
  }
}
@media (max-width: 796px) {

  .product-container {
    margin: 0!important;
  }
  .product-content {
    margin: 0 2% !important;
  }
  .product-info {
    min-height: 100%;
    margin: 0;
  }
  .product-text {
    margin-top: 20px;
    padding-left: 0;
    width: 94%;
  }
  #fadeSlider {
    height: 325px !important;
    max-height: 100% !important;
  }
  .product-image {
    float: none;
    padding-right: 0;
    border-right: none;
    width: 94%;
  }
  .product-page p, 
  .product-text p {
    max-width: 94%;
  }
  .startboxes.large .frame {
    height: 280px !important;
  }
  .product-image img {
    width: 100%;
    height: auto;
  }
  .product-page img, 
  .product-text img {
    max-width: 94%;
    height: auto;
  }
  .product-details {
    display: none;
  }
  .product-btn {
    display: block;
  }
  .text img {
    display: block !important;
    float: none;
    width: auto;
    height: auto;
    max-width: 100%;
  }
}
@media (max-width: 568px) {
  .product-list .product {
    max-width: 29%;
    width: 29%;
  }
  .container_12 .grid_8 {
    width: 98%;
    margin: 0 0 0 2%;
  }
  #fadeSlider {
    height: 260px !important;
  }
  .sidebar {
    width: 98%;
    margin: 0 0 0 2%;
  }
  .startboxes {
    width: 100%;
    margin: 0;
  }
  .startboxes .box {
    margin: 0px 2% 0px 0px;
    width: 98%;
  }
  .startboxes.large .frame {
    height: 100% !important;
  }
  .startboxes .frame img {
    max-height: 100% !important;
  }
  .contact-sidebar {
    height: 320px;
  }
  .contact-sidebar, 
  .barista-sidebar {
    margin-top: 20px;
    width: 94%;
    padding: 2% !important;
  }
  .contact-sidebar {
    margin-right: 0;
  }

  .mb-xlarge {
    margin-bottom: 20px !important;
  }
  .barista-date {
    display: none;
  }
}
@media (max-width: 420px) {
  #fadeSlider {
    height: 200px !important;
  }
}
