@font-face {
	font-family: 'BickhamScriptPro-Regular';
	src: url('../font/BickhamScriptPro-Regular.eot');
	src: url('../font/BickhamScriptPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/BickhamScriptPro-Regular.woff') format('woff'),
		 url('../font/BickhamScriptPro-Regular.ttf') format('opentype'),
		 url('../font/BickhamScriptPro-Regular.svg#BickhamScriptPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	margin-bottom: 10px;
	font-family: 'BickhamScriptPro-Regular';
	font-weight: normal;
	font-style: normal;
	font-size: 60px;
	line-height: 70px;
	color: #222;
}
