/* 

WOO CUSTOM STYLESHEET

---------------------



Instructions:



Add your custom styles here instead of style.css so it 

is easier to update the theme. Simply copy an existing 

style from style.css to this file, and modify it to 

your liking.



*/


.child-nav li {
  
    margin-top: -6px !important;
    margin-bottom: 7px !important;
    padding: 0 0 0 20px; !important;
		}




#navigation {

margin-bottom:10px;

}



#nav {

width:680px;

}



#navigation {

padding:0 12px;

width:916px;

}



.subnavigation  { 

height: 24px; 

padding: 0 26px; 

margin-bottom: 20px; 

font-size: 12px; 

font-weight: bold; 

font-family: "Lucida Grande", Helvetica, Arial, Sans-serif; 

border: 1px solid #fff; 

background: #f9f9f9 repeat-x left top; 

-moz-box-shadow:0 0 4px #C4C4C4;

width:auto;

float:right;

}



.subnavigation  { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }



.subnavigation .nav, .subnavigation .nav ul {

line-height:1;

list-style:none outside none;

margin:0;

padding:0;

z-index:100;

}



.subnavigation .nav li {

float:left;

width:auto;

}



.subnavigation .nav li span {

margin:0 0 0 14px;

width:auto;

color:#999999;

}



.subnavigation .nav li a {

line-height:24px;

}

.subnavigation .nav li a.selected {

color:#EB6909;

}



.subnavigation .nav {

float:left;

height:24px;

}



.subnavigation a, .subnavigation a:link, .subnavigation a:visited {

color:#999999;

}



.subnavigation a:hover {

color:#EB6909;

text-decoration:none;

}



#footer {

background:none repeat scroll 0 0 #eceee5;

}



#footer #widget-left .widget {

float:left;

width:370px;

margin-left:10px;

}



a:link, a:visited {

color:#eb6909;

}



.button, .button:visited, .reply a {

background-color:#eb6909;

}



/* OVERRIDING FONTS */

#navigation {

font-size:12px;

}



.post .title, .page .title {

font-size:21px;

}



body {

font:12px/1.5 Helvetica,Arial,Sans-serif;

}



h3 {

font-size:16px;

}



/*EVENT LIST */

.event-list h2.title {

margin:0 0 5px;

font-size:18px;

}



/*LINK LIST*/

table.links thead {

border-bottom:1px solid#999999;

}



table.links th {

text-align:left;

}



table.links td {

padding-top:5px;

padding-bottom:5px;

border-bottom:1px dotted #999999;

}



/* OVERRIDING LINKS */

#nav .current_page_item a {

color:#EB6909;

text-decoration:none;

}



.post-meta {

text-transform:inherit;

}



.post-meta span.comments, .nocomments {

display:none;

}



.event-list .post{

margin:0 0 25px;

padding:0 0 10px;

}


#nav a:hover {
color:#EB6909;
}

.entry table{
width:100%;
}

.widget_archive ul {
list-style:none outside none;
margin:-11px 0 0;
overflow:hidden;
padding:0 0 0 16px;
width:240px;
}


.widget_archive li {
float:left;
padding:0 10px 3px 0;
width:97px;
}

.widget_archive a {
color:#222222;
}

#fadeSlider { height: 369px; width: 950px; margin: auto }